* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: #A19AD3;
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.welcome {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(227, 143, 240, 0.1);
}

.featured {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(227, 143, 240, 0.1);
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.course-card {
    background-color: #A19AD3;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(227, 143, 240, 0.1);
}

.course-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #A19AD3;
    color: white;
    text-align: center;
    padding: 10px 0;
}
